$color-primary: rgb(181, 255, 0);
$color-secondary: rgba(170, 255, 0, 0.379);
$color-secondary-bis: rgba(170, 255, 0, 0.11);
$color-background: #1f1f1f;
$color-background-secondary: #1a1a1a;
$color-lighter: rgb(211, 244, 127);
$color-light: rgb(184, 238, 47);
$color-white: #ffffff;
$color-grey: #959595;
