.footer {
  ul {
    //position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0;
    padding: 0;
    display: flex;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    display: block;
    //display: none; // VISIBILITY START PAGE
    position: relative;
    /*  width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px; */
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: $color-secondary; // color internal social logo
    margin: 0 15px;
    transition: 0.5s;
  }
  ul li a span {
    position: absolute;
    transition: transform 0.5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: $color-secondary; // color line in pause
  }
  ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }

  ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  ul li a span:nth-child(2),
  ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: $color-secondary; // color line in pause
  }
  ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform 0.5s;
  }
  ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }

  .github:hover {
    color: $color-primary; // color line in hoover
  }
  .github:hover span {
    background: $color-primary;
  }
  .linkedin:hover {
    color: $color-primary;
  }
  .linkedin:hover span {
    background: $color-primary;
  }
}

// Animation title SECTION

// Love dynamically typed text? You're gonna love this
// Edit these strings to see them typed on the screen:
$strings: (
  "By Claudio Dall'Ara" "Build with:LODASH,AXIOS" "For Star2Impact"
    "Build with:API,JS,SCSS" "By Claudio Dall'Ara" "DEPLOYED WITH WEBPACK 5"
);

// now for some timing (in seconds)
$durCharFwd: 0.08; // character typed 0.1 dafault
$durFullGap: 4; // time between typed/delete
$durCharBwd: 0.05; // character deleted 0.08 default
$durDoneGap: 0.8; // time between strings

// initializing some variables and functions ✊🏼
$charCount: 0;
$durTotal: 0;
@each $string in $strings {
  $charCount: $charCount + str-length($string);
  $durTotal: $durTotal +
    (str-length($string) * ($durCharFwd + $durCharBwd)) +
    $durFullGap +
    $durDoneGap;
}
@function percent($string, $letter, $modifier) {
  $stringsPast: $string - 1;
  $time: 0;
  @while $stringsPast > 0 {
    $time: $time +
      (
        ($durCharFwd + $durCharBwd) * (str-length(nth($strings, $stringsPast)))
      ) +
      $durFullGap +
      $durDoneGap;
    $stringsPast: $stringsPast - 1;
  }
  @if $letter <= str-length(nth($strings, $string)) {
    $time: $time + ($durCharFwd * ($letter - 1));
  } @else {
    $time: $time +
      ($durCharFwd * str-length(nth($strings, $string))) +
      $durFullGap +
      ($durCharBwd * ($letter - str-length(nth($strings, $string))));
  }
  @return (calc($time / $durTotal) * 100 + $modifier) + "%";
}
$currentPercentage: 0;
// now THIS is where the magic happens... ✨
@keyframes typed {
  @for $i from 1 through length($strings) {
    // @for $j from 1 through (str-length(nth($strings, $i)) * 2 - 1) {
    @for $j from 1 through (str-length(nth($strings, $i)) * 2) {
      /* string #{$i}, char #{$j} */
      @if $j < str-length(nth($strings, $i)) * 2 {
        // not last character deleted
        #{percent($i, $j, 0)},
        #{percent($i, $j+1, -0.001)} {
          @if $j <= str-length(nth($strings, $i)) {
            content: quote(#{str_slice(nth($strings, $i), 1, $j)});
          } @else {
            content: quote(
              #{str_slice(
                  nth($strings, $i),
                  1,
                  str-length(nth($strings, $i)) -
                    ($j - str-length(nth($strings, $i)))
                )}
            );
          }
        }
      } @else {
        @if $i < length($strings) {
          // not last string
          #{percent($i, $j, 0)},
          #{percent($i+1, 1, -0.001)} {
            content: "​"; // zero-width space to retain element height
          }
        } @else {
          // last string
          #{percent($i, $j, 0)},
          100% {
            content: "​"; // zero-width space to retain element height
          }
        }
      }
    }
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  backface-visibility: hidden;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;

  // font-size: calc(10px + 2vw);
  font-size: calc(3px + 1.8vw); //CUSTOM!!!
  font-family: $font-family-1;
  color: $color-secondary-bis; // color !!!!!!!!!!!!!
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::after {
    content: "​"; // zero-width space to retain element height
    position: relative;
    top: -0px; // IMPORTANT WHERE PUT TITLE
    @media (max-width: 900px) {
      font-size: 20px; // IMPORTANT WHERE PUT TITLE max-width: 575px
    }
    display: inline-block;
    padding-right: 3px;
    padding-right: calc(3px + 0.1vw);
    border-right: 10px solid rgba($color-secondary-bis, 0.75);
    border-right: calc(1.1vw + 4px) solid rgba(black, 0.001);
    text-shadow: 0 0 5px $color-secondary-bis;
    white-space: nowrap;
    animation: typed #{$durTotal + "s"} linear 1s infinite,
      beam-blink 1s infinite;
  }
}
