@import "font";
@import "color";
@import "titleHeader";
@import "buttonGlow";
@import "footerStyle";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  /////prevent cursor and click higlight text
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow: hidden;
  margin-top: 0px;

  height: 100%;
  // position: relative;

  background-color: $color-background;
}

.button-container {
  //visibility: hidden;
  grid-area: btn;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-main-section {
  content: " ";
  grid-area: main;
  overflow-y: auto;
  overflow-x: hidden;
  // scroll bar style for firefox
  scrollbar-color: $color-primary $color-background; // no comma!!!!!!!
  scrollbar-width: thin;

  //
}
// scroll bar style for chrome
.container-main-section::-webkit-scrollbar {
  width: 20px;
  height: auto;
}
.container-main-section::-webkit-scrollbar-track {
  background: $color-background;
}
.container-main-section::-webkit-scrollbar-button {
  background-color: $color-background;
}
.container-main-section::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    $color-background,
    $color-primary,
    $color-background
  );
}

.container-footer-section {
  position: relative;
  bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  gap: 0.8rem;
}

// principal container
.container-home-section {
  padding-bottom: 40px;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); // I create grid 8 x columns
  grid-template-rows: 0.5fr 2fr 0.5fr 0.1fr;
  grid-template-areas:
    ". . header header header header header header . ."
    ". . main main main main main main . ."
    ". . btn btn btn btn btn btn . ."
    ". . footer footer footer footer footer footer . .";
}

.header {
  // My custom section of title
  // position: sticky; // forse da fastidio a griglio!
  margin-top: 15px;
  grid-area: header;
  cursor: pointer; // pinter on hover in title header zone
}

.footer-text {
  height: auto;
}

.one-news-div {
  background-color: $color-background;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: max-content;
  color: $color-secondary; // color title one news
}
// one line each news -- minimal
.one-news-div::after {
  position: relative;
  width: 10%;
  top: 50%;
  left: 45%;
  content: "";
  display: inherit;

  border-top: 1px solid $color-secondary; // color line under news
}

.detail-div-top {
  color: $color-secondary-bis; // color hour
  display: flex;
  justify-content: center;
}

.div-link {
  font-size: x-large;
  display: flex;
  justify-content: right;
  padding-right: 1em;
}

.div-link a {
  color: $color-secondary-light; // color link not hover
  text-decoration: none;
}

.div-link a:hover {
  // color link hover
  color: $color-primary;
}

.one-news-title-container {
  display: flex;
  justify-content: center;
  color: $color-lighter;
}

.news-time,
.div-link {
  width: 50%;
}

.news-time {
  display: flex;
  justify-content: left;
  color: $color-secondary;
}

.news-author {
  display: flex;
  align-items: end;
  justify-content: center;
  color: $color-secondary; // color author
}

.ptime {
  padding: 5px;
  border-radius: 15%;
  padding-top: 6px;
  border-right: 1px solid $color-secondary;
  border-left: 1px solid $color-secondary;
  //background-color: $color-background-secondary;
}

.newsLinkEl {
  color: $color-secondary;
}

.one-news-title-container a {
  text-decoration: none;
  color: $color-lighter;
}
