@import "color";
@import "background";
@import "titleHeader";
@import "buttonGlow";
@import "footerStyle";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100%;
  background-color: $color-background;
  margin: 0;
  overflow-x: hidden;
}

.header {
  // My custom section of title
  position: sticky;
  margin: 3rem;
  height: auto;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 2rem;
  height: 8rem;
  width: 100%;
}

.footer-text {
  position: absolute;

  bottom: 10rem;
  width: 100%;

  height: auto;
}
